<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="distributeur-card">
    <div class="distributeur-body">
      <h3> <%= distributeur.name %> </h3>
      <%= cl_image_tag(distributeur.photo, class: 'product-photo')%>
      <ul>
        <li> <%= simple_format (distributeur.address) %> </li>
        <li> 
          <%= link_to "#{ distributeur.website.split("/").last }", distributeur.website, target: 'blank' %>
        </li>
      </ul>
    </div>

    <div class="distributeur-footer">
      <ul class="list-inline">
        <li>
          <% if distributeur.facebook? %>
            <%= link_to distributeur.facebook, class: "social-links", target: 'blank' do %>
                <i class="fab fa-facebook-f"></i>
            <% end %>
          <% end %>
        </li>

        <li>
          <% if distributeur.instagram? %>
            <%= link_to distributeur.instagram, class: "social-links", target: 'blank' do %>
                <i class="fab fa-instagram"></i>
            <% end %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li>
              <%= link_to "Edit", distributeur_path(distributeur.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
