<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class=" product-card">
    <div class="product-body">
      <h3> <%= link_to product.name, product_path(product.id), class:"product-name" %> </h3>
      <div class="product-short-desc hidden-xs">
        <p> <%= product.short_desc %> </p>
      </div>
        <%= cl_image_tag(product.photo, alt: product.name, class: 'product-photo hidden-xs')%>
        <%= cl_image_tag(product.photo, alt: product.name, class: 'product-photo-xs hidden-sm hidden-md hidden-lg')%>
    </div>
    <div class="product-footer">
      <p class="product-price"> $<%= product.price %> </p>
    </div>
  </div> 
</div>
