<div class="container text-center container-size">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [@distributeur] do |f| %>
      <%= f.input :name, label: 'Nom' %>
      <%= f.input :address, label: 'Adresse' %>
      <%= f.input :website, label: 'Site Web' %>
      <%= cl_image_tag(@distributeur.photo, width: 175, height: 175, crop: :fill, class: 'product-photo') %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit 'Sauvegardez', class: 'btn btn-info btn-sm m-b' %>
    <% end %>
  </div>
</div>
