<div class="container text-center container-size">
  <h1>Ajoutez un distributeur</h1>
  <div class="product-add">
    <%= simple_form_for [@distributeur] do |f| %>
      <%= f.input :name, label: 'Nom' %>
      <%= f.input :address, label: 'Adresse' %>
      <%= f.input :website, label: 'Site web' %>
      <%= f.input :product_list, label: 'Poduits' %>
      <%= f.submit 'Sauvegardez', class: 'btn btn-info btn-sm m-b' %>
    <% end %>
 </div>
</div> 
