<div class="container text-center container-size">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="show-wrapper">
        <%= cl_image_tag(@distributeur.photo, width: 275, height: 275, crop: :fill, class: '') %>
        
        <div class="col-xs-12 col-sm-6">
          <div class="name-price">
            <h3><%= @distributeur.name %></h3>
            <p> <%= @distributeur.address %> </p>
            <p> <%= link_to "#{ @distributeur.website.split("/").last }", @distributeur.website, target: 'blank' %> </p>
          </div>
        </div>


        <div class="col-xs-8 col-xs-offset-2 nav-links">
        
            <% if user_signed_in? %>
              <p class="btn btn-primary">
                <%= link_to "Retour", root_path(anchor: 'products-index') %>
              </p>
              <p class="btn btn-primary">
                <%= link_to 'Ajouter', new_distributeur_path %>
              </p>
              <p class="btn btn-primary">
                <%= link_to 'Modifier', edit_distributeur_path %>
              </p>
              <p class="btn btn-primary">
                <%= link_to 'Retirer', distributeur_path(@distributeur), method: 'delete', data: {confirm: "Vous êtes certaine, madame la présidente ?"} %>
              </p>
            <% else %>
              <p class="btn btn-primary">
                <%= link_to "Retour à l'accueil", root_path(anchor: 'distributeurs-index') %>
              </p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
