<div class="container text-center container-size">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="row  show-wrapper">

        <div class="col-xs-12 col-sm-6">
          <%= cl_image_tag(@product.photo, width: 275, height: 275, crop: :fill, class: '') %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="name-price">
            <h3><%= @product.name %></h3>
            <p class="format"> <%= @product.format %> </p>
            <p> $<%= @product.price %> </p>
          </div>
        </div>

        <div class="col-xs-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a href="#description" class="nav-link active" id="descriptionTab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a href="#ingredients" class="nav-link" id="ingredientsTab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingrédients</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="description" role="tabpanel" aria-labelledby="descriptionTab">
              <p> <%= simple_format(@product.description) %> </p>
              <p> MODE D’EMPLOI <%= simple_format(@product.usage) %> </p>
            </div>
            <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredientsTab">
              <p> INGRÉDIENTS <%= simple_format(@product.ingredients) %> </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 nav-links">
  
        <% if user_signed_in? %>
          <p class="btn btn-primary btn-custom-round">
            <%= link_to "Retour", root_path(anchor: 'products-index') %>
          </p>
          <p class="btn btn-primary btn-custom-round">
            <%= link_to 'Ajouter', new_product_path %>
          </p>
          <p class="btn btn-primary btn-custom-round">
            <%= link_to 'Modifier', edit_product_path %>
          </p>
          <p class="btn btn-primary btn-custom-round">
            <%= link_to 'Retirer', product_path(@product), method: 'delete', data: {confirm: "Vous êtes certaine, madame la présidente ?"} %>
          </p>
        <% else %>
          <p class="btn btn-primary btn-custom-round">
            <%= link_to "Retour à l'accueil", root_path(anchor: 'products-index') %>
          </p>
        <% end %>
    </div>
      
   
  </div>
</div>
