<div class="container text-center container-size">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= cl_image_tag(@product.photo, width: 300, height: 300, crop: :fill, class: '') %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3><%= @product.name %></h3>
          <p> $<%= @product.price %> </p>
        </div>
        <div class="col-xs-12">
          <div class="description-container">
            <p> <%= @product.short_desc %> </p>
            <br>
            <p> <%= @product.description %> </p>
          </div>
        </div>

      </div>
      
      <p><%= link_to "Retour à l'accueil", root_path(anchor: 'products-index') %></p>
      <% if user_signed_in? %>
        <p><%= link_to 'Ajouter un produit', new_product_path %></p>
        <p><%= link_to 'Modifier le produit', edit_product_path %></p>
        <p><%= link_to 'Retirer le produit', product_path(@product), method: 'delete', data: {confirm: "Vous êtes certaine, madame la présidente ?"} %></p>
      <% end %>
    </div>
  </div>
</div>
